.bitDialog {
    -fx-font-size: 8.0pt;
    -fx-background-color: #404040;
    -fx-accent: #000000;
    -fx-border-color: #909090;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-insets: 0,0,0,0 ;
 }

.bitDialog > *.button-bar > *.container{
     -fx-background-color: #404040;
}
.bitDialog > *.label.content{
   -fx-font-size: 10.0px;
}
.bitDialog:header *.header-panel{
     -fx-background-color: #404040;
}
.bitDialog:header *.header-panel *.label{
    -fx-text-fill: #F0F0F0;
	-fx-font-size: 10.0px;
}

.label {
	-fx-text-fill: #F0F0F0;
	-fx-font-size: 10.0px;
}

.text{
    -fx-font-smoothing-type: LCD;
}


.button {
	 -fx-background-color: #606060;
	 -fx-text-fill: #F0F0F0;
}

.button:pressed {
	-fx-background-color: #505050;
}

.button:hover {
	-fx-background-color: #505058;
}

.check-box *.box {
  -fx-background-color:#505050;
}

.check-box {
	-fx-background-color: #404040;
	-fx-text-fill: #F0F0F0;
}


.check-box .mark {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.check-box:selected .mark {
	-fx-background-color: DARKORANGE;
}



