.root{
    -fx-font-size: 8.0pt;
    -fx-background-color: #303030;
    -fx-text-fill: #FFFFFF;
}

.tab-pane {
	 -fx-background-color: #303030;
}

.tab-header-background {
	 -fx-background-color: #303030;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20.0px;
}


.progress-bar {
    -fx-background-color: #303030;
}

.label {
	-fx-text-fill: #F0F0F0;
	-fx-font-size: 10.0px;
}

.tab
{
-fx-background-color: #303030;
-fx-alignment: CENTER;
-fx-text-fill: #f0f0f0;
}

.tab-label {
 -fx-text-fill: #f0f0f0;
}

.chart-series-line {
    -fx-stroke-width: 1.0px;
}

.chart-plot-background {
    -fx-background-color: #282828;
}

.chart-vertical-grid-lines {
    -fx-stroke: #404040;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #404040;
}

.chart-alternative-row-fill {
    -fx-fill: #303030;
    -fx-stroke: transparent;
    -fx-stroke-width: 0.0;
}

.axis {
    -fx-tick-label-fill: #F0F0F0;
}

.seprator {
	 -fx-fill: #505050;
}


.text{
    -fx-font-smoothing-type: LCD;
}

.widget {
    -fx-font-size: 7.0pt;

}

.glass  {
	-fx-font-size: 7.0pt;
    -fx-background-color: rgba(0.0, 100.0, 100.0, 0.4); -fx-background-radius: 10.0;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1.0px;
    -fx-border-radius: 5.0px;
    -fx-border-insets: 2.0px;
}

.glass .label {
	-fx-text-fill: #FFFFFF;
}


.inspector {
	 -fx-font-size: 7.0pt;
}

.choice-box .context-menu  {
	 -fx-background-color: #404040;
}

.choice-box {
	 -fx-background-color: #404040;
}

.button {
	-fx-background-color: #404040;
	-fx-text-fill: #F0F0F0;
}

.check-box {
	-fx-background-color: #303030;
	-fx-text-fill: #F0F0F0;
}

.toggle-button {
	 -fx-background-color: #404040;
}

.check-box *.box {
  -fx-background-color:#404040;
}

.slider .track  {
  -fx-background-color:#404040;
}

.progress-bar > .track {
  -fx-control-inner-background: #303030;
   -fx-text-box-border: #303030;
    -fx-shadow-highlight-color: #303030;
}

.tree-table-view, .tree-table-view .column-header, .tree-table-view  .filler {
	 -fx-background-color:#404040;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected  {
     -fx-background-color: #606060;
       -fx-shadow-highlight-color: #303030;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: #303030;
  }


.status .label {
	-fx-text-fill: #F0F0F0;
	-fx-font-size: 10.0px;
}

.status .message {
	-fx-text-fill: #F05050;
	-fx-font-size: 10.0px;
}


