.root{
    -fx-font-size: 8pt;
}

.chart-series-line {
    -fx-stroke-width: 1px;

}

.text{
    -fx-font-smoothing-type: LCD;
}

.widget {
    -fx-font-size: 7pt;
    -fx-background-color: #F0F0E6;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-insets: 2px;
}

.glass  {
	-fx-font-size: 7pt;
    -fx-background-color: rgba(0, 100, 100, 0.4); -fx-background-radius: 10;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-insets: 2px;
}

.glass .label {
	-fx-text-fill: #FFFFFF;
}

.chart-alternative-row-fill {
    -fx-fill: #F0F0F0;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.inspector {
	 -fx-font-size: 7pt;
}

.status .label {
	-fx-text-fill: #505050;
	-fx-font-size: 10px;
}

.status .message {
	-fx-text-fill: #805050;
	-fx-font-size: 10px;
}

